<!--/templates/register.html-->
<!DOCTYPE html>
{% load static %}
{% load game_tag %}
<html>


<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>youplay</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Icon -->
    <link rel="icon" type="image/png" href="{% static 'dark/assets/images/icon.png' %}">
    <!-- Google Fonts -->

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/bower_components/bootstrap/dist/css/bootstrap.min.css' %}"/>

    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/bower_components/font-awesome/css/font-awesome.min.css' %}"/>

    <!-- Owl Carousel -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/bower_components/owl.carousel/dist/assets/owl.carousel.min.css' %}"/>
    <!-- Youplay -->

    <link rel="stylesheet" type="text/css" href="{% static 'assets/youplay/css/youplay.min.css' %}"/>

    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'dark/assets/css/custom.css' %}"/>
    <!-- RTL (uncomment this to enable RTL support) -->
    <!-- <link rel="stylesheet" type="text/css" href="../assets/youplay/css/youplay-rtl.css" /> -->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

<!-- Preloader -->
<div class="page-preloader preloader-wrapp">
    <img src="{% static 'dark/assets/images/logo.png' %}" alt="">
    <div class="preloader"></div>
</div>
<!-- /Preloader -->

<!-- Navbar -->
<nav class="navbar-youplay navbar navbar-default navbar-fixed-top ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="off-canvas" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'main' %}">
                <img src="{% static 'dark/assets/images/logo.png' %}" alt="">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-hover ">
                    <a href="{% url 'store' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Магазин <span class="caret"></span> <span class="label">ігри</span>
                    </a>
                    <div class="dropdown-menu">
                        <ul role="menu">
                            <li><a href="{% url 'store' %}">Список Товарів</a>
                            </li>
                            <li><a href="{% url 'store_popular' %}">Популярні Товари</a>
                            </li>
                            <li><a href="{% url 'cart_detail' %}">Кошик
                                {% if request.session.cart|length == 0 %}
                                {% else %}
                                    <span class="badge bg-warning">{{ request.session.cart|length }}</span>
                                    <span class="caret"></span>
                                {% endif %}</a>
                            </li>
                            <li><a href="{% url 'сheckout' %}">Оформлення Замовлення</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown dropdown-hover ">
                    <a href="{% url 'blog' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Блог <span class="caret"></span> <span class="label">новини</span>
                    </a>
                    <div class="dropdown-menu">
                        <ul role="menu">
                            <li><a href="{% url 'blog' %}">Список Новин</a>
                            </li>
                            <li><a href="{% url 'blog_popular' %}">Популярні Новини</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown dropdown-hover ">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Додатково <span class="caret"></span> <span class="label">повний список</span>
                    </a>
                    <div class="dropdown-menu">
                        <ul role="menu">
                            <li class="dropdown dropdown-submenu pull-left ">
                                <a href="{% url 'userpage' %}" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button"
                                   aria-expanded="false">Профіль</a>
                                <div class="dropdown-menu">
                                    {% if user.is_authenticated %}
                                        <ul role="menu">
                                            <li><a href="{% url 'userpage' %}">Профіль</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'user_settings_page' user.profile.id %}">Налаштування</a>
                                            </li>
                                            {% if request.user|has_group:"Редактор" %}
                                                <li>
                                                    <a href="{% url 'add_post' %}">Додати Пост</a>
                                                </li>
                                            {% else %}
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                                <li><a href="{% url 'admin:index' %}" target="_blank">Адмін панель</a>
                                                </li>
                                            {% else %}
                                            {% endif %}
                                        </ul>
                                    {% else %}
                                        <ul role="menu">
                                            <li class="divider"></li>
                                            <li><a href="{% url 'signup' %}">Зареєструватися</a>
                                            </li>
                                            <li><a href="{% url 'login' %}">Увійти</a>
                                            </li>
                                            <li class="divider"></li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </li>
                            <li><a href="{% url 'contact_us' %}">Напишіть Нам</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown dropdown-hover active">
                        <a href="{% url 'userpage' %}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">
                            {{ user.get_username }}
                            <span
                                    class="label">це ви</span>
                        </a>
                        <div class="dropdown-menu">
                            <ul role="menu">
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu pull-left ">
                                    <a href="{% url 'userpage' %}" class="dropdown-toggle" data-toggle="dropdown"
                                       role="button"
                                       aria-expanded="false">Профіль</a>
                                    <div class="dropdown-menu">
                                        <ul role="menu">
                                            <li><a href="{% url 'userpage' %}">Профіль</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'user_settings_page' user.profile.id %}">Налаштування</a>
                                            </li>
                                            {% if request.user|has_group:"Редактор" %}
                                                <li>
                                                    <a href="{% url 'add_post' %}">Додати Пост</a>
                                                </li>
                                            {% else %}
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                                <li><a href="{% url 'admin:index' %}" target="_blank">Адмін панель</a>
                                                </li>
                                            {% else %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="{% url 'cart_detail' %}">Кошик
                                    {% if request.session.cart|length == 0 %}
                                    {% else %}
                                        <span class="badge bg-warning">{{ request.session.cart|length }}</span>
                                        <span class="caret"></span>
                                    {% endif %}</a>
                                </li>
                                <li class="divider"></li>

                                <li><a href="{% url 'logout' %}">Вихід</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li class="dropdown dropdown-hover">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Профіль <span class="caret"></span> <span
                                class="label">увійдіть або зареєструйтеся</span>
                        </a>
                        <div class="dropdown-menu">
                            <ul role="menu">
                                <li class="divider"></li>
                                <li><a href="{% url 'signup' %}">Зареєструватися</a>
                                </li>
                                <li><a href="{% url 'login' %}">Увійти</a>
                                </li>
                                <li class="divider"></li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
                <li>
                    <a class="search-toggle" href="">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
                <li class="dropdown dropdown-hover dropdown-cart">
                    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-shopping-cart"></i> 
                        {% if request.session.cart|length == 0 %}
                        {% else %}
                            <span class="badge bg-default">{{ request.session.cart|length }}</span>
                            <span class="caret"></span>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" style="width: 300px;">

                        <div class="row youplay-side-news">
                            <div class="col-xs-3 col-md-4">
                                <a class="angled-img"></a>
                            </div>
                            <div class="col-xs-9 col-md-8">

                                <h4 class="ellipsis"><a href="{% url 'store' %}"
                                                        title="Перейти До Магазину">Список Товарів</a></h4>

                            </div>
                        </div>
                        {% for key,value in request.session.cart.items %}

                            <div class="row youplay-side-news">
                                <div class="col-xs-3 col-md-4">
                                    <a href="{{ value.url }}" class="angled-img" title="{{ value.name }}">
                                        <div class="img">

                                            <img src="{{ value.image }}" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-9 col-md-8">
                                    <a href="{% url 'item_clear' value.product_id %}" style="text-decoration: none;"
                                       class="pull-right mr-10"><i
                                            class="fa fa-times" title="Видалити З Кошика"></i></a>

                                    <h4 class="ellipsis"><a href="{{ value.url }}"
                                                            title="{{ value.name }}">{{ value.name }}</a></h4>
                                    <span class="quantity">{{ value.quantity }} × <span
                                            class="amount">${{ value.price }}</span></span>
                                </div>
                            </div>



                        {% endfor %}


                        <div class="btn-group pull-right m-15">
                            <a href="{% url 'cart_detail' %}" class="btn btn-default btn-sm">Кошик</a>
                            <a href="{% url 'сheckout' %}" class="btn btn-default btn-sm">Оформлення</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- /Navbar -->


<!-- Main Content -->
<section class="content-wrap full youplay-login">

    <!-- Banner -->
    <div class="youplay-banner banner-top">
        <div class="image" style="background-image: url('{% static 'dark/assets/images/banner-bg.jpg' %}')"></div>

        <div class="info">
            <div>
                <div class="container align-center">
                    <div class="youplay-form">
                        <h1>Реєстрація</h1>

                        <div class="btn-group social-list dib">
                            <a class="btn btn-default" title="Login With Steam"
                               href="{% url 'social:begin' 'steam' %}"><i class="fa-brands fa-steam"></i></a>
                            <a class="btn btn-default" href="{% url 'social:begin' 'github' %}"
                               title="Login With Github"><i class="fa-brands fa-github-alt"></i></a>
                            <a class="btn btn-default" href="{% url 'social:begin' 'google-oauth2' %}"
                               title="Login With Google"><i class="fa-brands fa-google"></i></a>
                        </div>

                        <form method="post">
                            {% csrf_token %}
                            <div class="youplay-input">
                                {{ form.username }}
                            </div>
                            <div class="youplay-input">
                                {{ form.email }}
                            </div>
                            <div class="youplay-input">
                                {{ form.password1 }}
                            </div>
                            <div class="youplay-input">
                                {{ form.password2 }}
                            </div>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <i class="fa fa-circle-exclamation"></i></i> {{ error }}
                                    <br>
                                    <br>
                                {% endfor %}
                            {% endfor %}
                            {% if messages %}
                                {% for message in messages %}
                                    <i class="fa fa-triangle-exclamation"></i> {{ message }}
                                {% endfor %}
                            {% endif %}
                            <br>
                            <br>
                            <script src='https://www.google.com/recaptcha/api.js'></script>
                            <div style="margin-left: 6rem;" data-theme="dark" class="g-recaptcha"
                                 data-sitekey="6LdgovwgAAAAADoDB4Xx2E4_TZ4m0Qab8V3SKx0L"></div>
                            <br>
                            <button class="btn btn-default db" type="submit" value="register">Зареєструватися</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Banner -->

</section>
<!-- /Main Content -->

<!-- Search Block -->
<div class="search-block">
    <a href="" class="search-toggle glyphicon glyphicon-remove"></a>
    <form action="{% url 'search' %}" method="get">
        <div class="youplay-input">
            <input type="text" name="q" placeholder="Пошук...">
        </div>
    </form>
</div>
<!-- /Search Block -->

<script type="text/javascript" src="{% static 'assets/bower_components/jquery/dist/jquery.min.js' %}"></script>

<!-- Hexagon Progress -->
<script type="text/javascript"
        src="{% static 'assets/bower_components/HexagonProgress/jquery.hexagonprogress.min.js' %}"></script>


<!-- Bootstrap -->
<script type="text/javascript" src="{% static 'assets/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Jarallax -->
<script type="text/javascript" src="{% static 'assets/bower_components/jarallax/dist/jarallax.min.js' %}"></script>

<!-- Smooth Scroll -->
<script type="text/javascript"
        src="{% static 'assets/bower_components/smoothscroll-for-websites/SmoothScroll.js' %}"></script>

<!-- Owl Carousel -->
<script type="text/javascript"
        src="{% static 'assets/bower_components/owl.carousel/dist/owl.carousel.min.js' %}"></script>

<!-- Countdown -->
<script type="text/javascript"
        src="{% static 'assets/bower_components/jquery.countdown/dist/jquery.countdown.min.js' %}"></script>
<!-- Youplay -->
<script type="text/javascript" src="{% static 'assets/youplay/js/youplay.min.js' %}"></script>

<!-- init youplay -->
<script>
    if (typeof youplay !== 'undefined') {
        youplay.init({
            // enable parallax
            parallax: true,

            // set small navbar on load
            navbarSmall: false,

            // enable fade effect between pages
            fadeBetweenPages: true,

            // twitter and instagram php paths
            php: {
                twitter: './php/twitter/tweet.php',
                instagram: './php/instagram/instagram.php'
            }
        });
    }
</script>


<script type="text/javascript">
    $(".countdown").each(function () {
        $(this).countdown($(this).attr('data-end'), function (event) {
            $(this).text(
                event.strftime('%D days %H:%M:%S')
            );
        });
    })
</script>

</body>


<!-- Mirrored from html.nkdev.info/youplay/dark/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 May 2016 12:41:01 GMT -->
</html>


</body>


<!-- Mirrored from html.nkdev.info/youplay/dark/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 May 2016 12:57:56 GMT -->
</html>
