{% load static %}
<!-- SLIDE NR. 1  -->
{% for game in randon_game_store %}
    <li data-thumb="{{ game.banner.url }}" data-saveperformance="on"
        data-transition="random-static" data-slotamount="7" data-masterspeed="700">
        <!-- MAIN IMAGE -->
        <img src="{% static 'dark/assets/images/dummy.png' %}" alt=""
             data-lazyload="{{ game.banner.url }}" data-bgposition="center top"
             data-bgfit="cover" data-bgrepeat="no-repeat">
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption customin customout" data-x="left" data-hoffset="60" data-y="center" data-voffset="-60"
             data-customin="x:200;scaleX:0.5;scaleY:0.5;" data-customout="x:0;scaleX:1;scaleY:1;" data-start="500"
             data-speed="700" data-easing="Sine.easeInOut"
             data-endspeed="600" data-endeasing="Linear.easeNone">
            <h2 class="h1">{{ game.title }}</h2>
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption customin customout" data-x="left" data-hoffset="60" data-y="center" data-voffset="60"
             data-customin="x:200;scaleX:0.5;scaleY:0.5;" data-customout="x:0;scaleX:1;scaleY:1;" data-start="1000"
             data-speed="700" data-easing="Sine.easeInOut"
             data-endspeed="600" data-endeasing="Linear.easeNone">
            <a class="btn btn-lg" href="{{ game.get_absolute_url }}">Купівля</a>
        </div>
    </li>
{% endfor %}
