{% load static %}
{% for game in get_random_games_intro %}
    <section class="youplay-banner banner-top youplay-banner-parallax">
        <div class="image" style="background-image: url('{{ game.banner.url }}')">
        </div>

        <div class="info">
            <div>
                <div class="container">
                    <h1>{{ game.title }}</h1>
                    <em>"{{ game.tagline }}"</em>
                    <br>
                    <br>
                    <br>
                    <a class="btn btn-lg" href="{{ game.get_absolute_url }}">Купівля</a>
                </div>
            </div>
        </div>
    </section>
{% endfor %}